[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"
cookiecutter = ">=1.7.0"
environ = "*"

[dev-packages]

[requires]
python_version = "3.11"